{% extends "::base.html.twig" %}

{% block header %}
{% endblock header %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/applicantfaculty/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}


{% block body %}

    <body id="pageBody">

    <div id="decorative2">
        <div class="container">

            <div class="divPanel topArea notop nobottom">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="divLogo" class="pull-left">
                            <a href="{{ path('index') }}" id="divTagLine">Черкаський національний університет</a><br />
                            <a href="{{ path('index') }}" id="divSiteTitle">імені Богдана Хмельницького</a>
                        </div>

                        <div id="divMenuRight" class="pull-right">
                            <div class="navbar">
                                <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                                    NAVIGATION <span class="icon-chevron-down icon-white"></span>
                                </button>
                                <div class="nav-collapse ">
                                    <ul class="nav nav-pills ddmenu">
                                        <li class="dropdown active"><a href="{{ path('index') }}">Головна</a></li>
                                        <li class="dropdown disabled">
                                            <a class="dropdown-toggle ">Абітурієнту <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="full.html">Full Page</a></li>
                                                <li><a href="2-column.html">Two Column</a></li>
                                                <li><a href="3-column.html">Three Column</a></li>
                                                <li><a href="../documentation/index.html">Documentation</a></li>
                                                <li class="dropdown">
                                                    <a href="{{ path('units') }}" class="dropdown-toggle">Підрозділи університету &nbsp;&raquo;</a>
                                                    <ul class="dropdown-menu sub-menu" style="right: 100%; left: auto;">
                                                        <li><a href="{{ path('institutes') }}">Навчально-наукові інститути</a></li>
                                                        <li><a href="{{ path('faculties') }}">Факультети</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="gallery.html">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="decorative1" style="position:relative">
        <div class="container">

            <div class="divPanel headerArea">
                <div class="row-fluid">
                    <div class="span12">

                        <div id="headerSeparator"></div>

                        <div id="divHeaderText" class="page-content">
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                            {#<div id="divHeaderLine1">Ласково просимо</div><br />#}
                            {#<div id="divHeaderLine1">до нашого університету</div><br /><br /><br /><br /><br /><br /><br />#}
                            {#<div id="divHeaderLine2">2nd line header text for calling extra attention to featured content..</div><br />#}
                            {#<div id="divHeaderLine3"><a class="btn btn-large btn-primary" href="#">More Info</a></div>#}
                        </div>

                        <div id="headerSeparator2"></div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="contentOuterSeparator"></div>

    <div class="container">

        <div class="divPanel page-content">

            <div class="row-fluid">

                <div class="span12" id="divMain">

                    <p><b>Черкаський національний університет імені Богдана Хмельницького</b> - освітній, науковий, культурний та інтелектуальний центр Шевченкового краю. Головним завданням університету є підготовка конкуретно-спроможних фахівців, розвиток науки, патріотичне й морально-духовне виховання особистості.
                    </p>

                    <hr style="margin:45px 0 35px" />

                    <br />

                    <div class="list_carousel responsive">
                        <ul id="list_photos">
                            <li><img src={{ asset("bundles/applicantfaculty/images/carmel.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/rula-sibai-pink-flowers.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/girl-flowers.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/night-city.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/irish-hands.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/Top_view.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/vectorbeastcom-grass-sun.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/sunset-hair.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/stones-hi-res.jpg")}} class="img-polaroid">  </li>
                            <li><img src={{ asset("bundles/applicantfaculty/images/salzburg-x.jpg")}} class="img-polaroid">  </li>
                        </ul>
                    </div>

                    <hr style="margin:45px 0 35px" />
                </div>

            </div>

            <div id="footerInnerSeparator"></div>
        </div>

    </div>

    <div id="footerOuterSeparator"></div>

    <div id="divFooter" class="footerArea">

        <div class="container">

            <div class="divPanel">

                <div class="row-fluid">
                    <div class="span3" id="footerArea4">

                        <h3>Get in Touch</h3>

                        <p id="contact-info">
                                <i class="glyphicon glyphicon-phone-alt"></i>
                                <span class="field">Phone:</span>
                                (123) 456 7890 / 456 7891<br />
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span class="field">Email:</span>
                                <a href="mailto:info@yourdomain.com" title="Email">info@yourdomain.com</a>
                                <br />
                                <i class="glyphicon glyphicon-road" style="margin-bottom:50px"></i>
                                <span class="field">Address:</span>123 Street 12345 Cherkassy,  Ukraine
                        </p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <p class="copyright">
                            Copyright © 2014 Dreamteam Company. All Rights Reserved.
                        </p>

                        <p class="social_bookmarks">
                            <a href="#"><i class="social foundicon-facebook"></i> Facebook</a>
                            <a href=""><i class="social foundicon-twitter"></i> Twitter</a>
                            <a href="#"><i class="social foundicon-pinterest"></i> Pinterest</a>
                            <a href="#"><i class="social foundicon-rss"></i> Rss</a>
                        </p>
                    </div>
                </div>
                <br />

            </div>

        </div>

    </div>

    {% javascripts
    '@ApplicantFacultyBundle/Resources/public/js/default.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    '@ApplicantFacultyBundle/Resources/public/js/jquery.carouFredSel-6.2.0-packed.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">$('#list_photos').carouFredSel({ responsive: true, width: '100%', scroll: 2, items: {width: 320,visible: {min: 2, max: 6}} });</script>
    </body>
{% endblock body %}